.mainbox{
    display: grid;
    gap: 5px;

    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.box{
    font-size: 100px;
    text-align: center;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    height: 100px;
    width: 100px;
}
body{
    width: 100vw;
    height: 40vw;
    background-color: wheat;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1{
    color: blue;
}
#resbtn{
    color: white;
    
    background-color: blue;
    border-radius: 10x;
    cursor: pointer;
}